body {
    background-color: #5F9EA0;
    font-family: Arial, sans-serif;
    color: #FFF;
    margin: 20px;
    min-height: 100vh;
};

form {
    padding:15px;
    border-radius: 8px;
    max-width: 600px;
    margin-bottom: 20px;
}

.field{
    margin-bottom: 12px;
}

input, textarea{
    width: 100%;
    max-width: 75%;
    padding: 8px;
    border: 1px;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #A9A9A9;
    max-width: 600px;
    border-radius: 5px;
    color: #fff;
}

button:hover {
    background-color:#00008B;
}

#char-row {
    font-size: 0.9rem;
    color: #000000;
    margin-top: 4px;
}

.tooltip {
    position: absolute;
    display: none; 
    background-color: #00008B;
    color:#FFF;
    border-radius: 4px;
    pointer-events: none;
    z-index: 1000;
};

